#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  padding-top: 60px;
  flex: 1;
}

* {
  font-family: 'Berkshire Swash', cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fffafc;
  color: #333;
}

