.faq-page {
  background-color: #fff;
}

.faq-header {
  background: linear-gradient(135deg, hotpink, rgba(104, 50, 146, 1));
  padding: 3rem 0;
  margin: 0;
}

.faq-title {
  color: #fff;
  font-size: 2.3rem;
}

/* ====== Question ====== */
.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  font-weight: 600;
  font-size: 1rem;
}

.arrow {
  color: hotpink;
  font-size: 1rem;
  transition: transform 0.3s ease;
}

/* ====== Answer ====== */
.faq-answer {
  padding-top: 0.75rem;
  color: #777;
  font-size: 0.95rem;
}

/* ====== Animation ====== */
.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all 0.4s ease;
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  opacity: 0;
  transform: translateY(-5px);
}

.contact-box {
  background: #ffe6f0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

.contact-title {
  font-family: 'Berkshire Swash', cursive;
  color: rgba(104, 50, 146, 1);
}

.contact-text {
  color: #555;
}

.contact-btn {
  background: hotpink;
  color: #fff;
  border: none;
  border-radius: 25px;
  padding: 0.6rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.3s ease;
}

.contact-btn:hover {
  transform: scale(1.05);
}
