.menu-page {
  background-color: #fff;
}

.menu-header {
  background: linear-gradient(135deg, hotpink, rgba(104, 50, 146, 1));
  padding: 3rem 0;
  margin: 0;
}

.menu-title {
  color: #fff;
  font-size: 2.3rem;
  font-family: 'Berkshire Swash', cursive;
}

@media (max-width: 576px) {
  .menu-title {
    font-size: 2rem;
  }
}
