.rating-page {
    background-color: #fff;
}

.rating-header {
    background: linear-gradient(135deg, hotpink, rgba(104, 50, 146, 1));
    padding: 3rem 0;
    margin: 0;
}

.rating-title {
    color: #fff;
    font-size: 2.3rem;
    margin-bottom: 0;
}

.breadcrumb {
    color: #777;
    font-size: 0.9rem;
}

.icecream-section {
    margin: 3rem 0;
}

.icecream-img {
    width: 85%;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.info-box {
    text-align: left;
}

.icecream-name {
    font-size: 1.6rem;
    color: black;
}

.icecream-price {
    color: rgba(104, 50, 146, 1);
    font-weight: bold;
    font-size: 1.1rem;
}

.icecream-desc {
    color: #777;
    font-size: 0.95rem;
    margin-top: 0.5rem;
    line-height: 1.5;
}

.avg-stars {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    font-size: 1.3rem;
    margin: 0.5rem 0;
}

.avg-number {
    font-weight: 600;
    color: gold;
    font-size: 1rem;
}

.review-section {
    margin-bottom: 4rem;
}

.review-title {
    color: #2b0939;
    font-size: 1.6rem;
}

.review-sub {
    color: #777;
    font-size: 0.95rem;
    margin-bottom: 1rem;
}

.review-form {
    max-width: 600px;
    margin: 0 auto;
}

.form-row {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 1rem;
}

.review-form input,
.review-form textarea {
    flex: 1;
    padding: 0.6rem;
    border: 1px solid #777;
    border-radius: 25px;
    font-size: 0.9rem;
    outline: none;
}

.review-form textarea {
    width: 100%;
    border-radius: 15px;
    height: 100px;
    resize: none;
    margin-bottom: 1.5rem;
}

.submit-btn {
    background: hotpink;
    border: none;
    color: #fff;
    border-radius: 25px;
    padding: 0.6rem 1.4rem;
    font-size: 0.9rem;
    transition: all 0.3s ease;
    margin-top: 0.5rem;
}

.submit-btn:hover {
    transform: scale(1.05);
}

.star {
    color: #ccc;
    font-size: 1.8rem;
    cursor: pointer;
    transition: color 0.2s ease;
}

.star.filled,
.star.active {
    color: gold;
}

.stars {
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 0.3rem;
}